.HomePage {
    flex: 1;
    flex-direction: column;
}

.header {
    flex: 1;
    flex-direction: row;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.headerLeft {
    float: left;
    display: flex;
    justify-content: flex-start;
}

.headerRight {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.applicationLogo {
    width: 40px;
    height: 40px;
}

.Anvendelsesrapporter {
    font-weight: 18pt;
    padding: 15px;
}

.Performancerapporter {
    font-weight: 18pt;
    padding: 15px;
}

.userName {}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 0.5px;
}

.systemSettings {}

.dropdown {
    max-width: 400px;
    margin-right: 30px;
    outline: none;
    border: none;
    flex: 1 1 auto; /* equals with: flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
}

.dropdown>:focus {
    outline: none;
}

.DropdownSection {
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    padding: 15px;
}

.DropdownSection .labelHeader {
    color: #76968a;
}

.part {
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
}
.btnHeader {
    height: 100%;
}
.btnCommon {
    background-color: #76968a;
    width: 50px;
    min-width: 100px;
    min-height: 40px;
    text-align: center;
    border-radius: 4px;
}
.btnCommon span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
}