/* GENERAL */
body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #00241b;
  margin: 0px;
}

.HomePage {
  flex: 1;
  flex-direction: column;
}

/* HEADER */
.header {
  flex: 1;
  flex-direction: row;
  margin: 24px 32px 24px 32px;
  overflow: hidden;
  background-color: #ffffff;
}

.headerLeft {
  float: left;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  height: 32px;
}

.headerRight {
  float: right;
  display: flex;
  justify-content: flex-end;
  height: 32px;
}

.applicationLogo {
  width: 32px;
  height: 32px;
  margin-right: 80px;
}

.Anvendelsesrapporter {
  padding: 6px 80px 6px 0px;
}

.Performancerapporter {
  padding: 6px 80px 6px 0px;
}

.userName {
  padding: 8px 0px 8px 0px;
  font-size: 14px;
}

.avatar {}

.systemSettings {}

/* SERACH FORM */
.DropdownSection {
  display: flex;
  flex-direction: row;
  background-color: #f8f9fb;
  padding: 12px 32px 12px 32px;
  height: 54px;
  margin-bottom: 32px;
}

.dropdown {
  width: 208px;
  margin: 0px 32px 0px 0px;
  outline: none;
  border: none;
  flex: 1 1 auto;
  /* equals with: flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
}

.dropdown> :focus {
  outline: none;
}

.DropdownSection .labelHeader {
  font-size: 10px;
  font-weight: 800;
  color: #7f9d96;
  text-transform: uppercase;
}

.part {
  flex: 1 1 auto;
  justify-content: center;
  align-content: center;
}

.react-select__indicator-separator {
  width: 0px;
}

.DateInput_input {
  font-size: 11px;
  font-weight: 0;
  color: #00241b;
  line-height: 12px;
  background-color: none;
  padding: none;
  margin: none;
}

input {
  background-color: none;
  padding: none;
  font-size: 11px;
  color: #00241b;
  line-height: 1.6 !important;
}

.searchInput {
  width: 100%;
  min-height: 30px;
  padding: 4px 4px 4px 5px;
  border-radius: 5px;
  border: 1px lightgray solid;
}

.CalendarDay__highlighted_calendar {
  background: #82E0AA !important;
  color: #186A3B !important;
}

.CalendarDay__highlighted_calendar:hover {
  background: #58D68D !important;
  color: #186A3B !important;
}

.CalendarDay__highlighted_calendar:active {
  background: #58D68D !important;
  color: #186A3B !important;
}

.CalendarDay__default {
  border: none !important;
}

.dateRangeHeaderContainer {
  background-color: #f8f9fb !important;
  min-height: 100px !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  padding-left: 20px !important;
}

.DateRangePicker>* {
  line-height: 1.6;
}

.DateInput_fangShape {
  fill: #f8f9fb !important;
}

/* BUTTONS */
.btnHeader {}

.btnCommon {
  background-color: #7f9d96;
  text-align: center;
  border-radius: 2px;
  margin-top: 10px;
  width: 88px;
  cursor: pointer;
}

.btnCommon span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 14px;
  color: white;
  padding: 10px 8px 10px 8px;
}

.btnCommon:hover {
  cursor: pointer;
}

/* TABLE*/
.ReactTable {
  border: 0px;
}

.ReactTable .rf-thead.-header {
  box-shadow: 0px;
}

/* */
.displayBox {
  width: 100%;
  min-height: 30px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  border: 1px lightgray solid;
}

.popover {
  z-index: 99;
  opacity: 1;
  width: 100%;
  border: 1px lightgray solid;
  padding: 0 5px 10px 10px;
  background-color: #f8f9fb;
  position: relative;
}

.dropdownItem {
  margin: 10px 0 10px 0;
}

.dropdownItem:hover {
  background-color: #58D68D;
  cursor: pointer;
}

.bottomButton {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}